{% macro field(f, icon=None) %}
  <div class="mb-3">
    {{ f.label(class_="form-label fw-semibold") }}
    {% if icon %}
    <div class="input-group">
      <span class="input-group-text bg-white"><i class="fa-solid {{ icon }}"></i></span>
      {{ f(class_="form-control" + (" is-invalid" if f.errors else "")) }}
    </div>
    {% else %}
      {{ f(class_="form-control" + (" is-invalid" if f.errors else "")) }}
    {% endif %}
    {% for error in f.errors %}
      <div class="invalid-feedback d-block">{{ error }}</div>
    {% endfor %}
  </div>
{% endmacro %}
